// ==============================|| DARK THEME COLOR VARIABLES ||============================== //

// paper & background
$paper: rgb(33, 41, 70); // Dark background for paper
$background: rgb(26, 34, 63); // Dark background for the entire app

// primary
$primaryLight: rgb(26, 34, 63); // Lighter primary color for dark theme
$primaryMain: #2196f3; // Main primary color
$primaryDark: #1976d2; // Darker primary color
$primary200: #90caf9; // Primary color 200
$primary800: #0d47a1; // Primary color 800

// secondary
$secondaryLight: #d1c4e9; // Lighter secondary color
$secondaryMain: #7c4dff; // Main secondary color
$secondaryDark: #651fff; // Darker secondary color
$secondary200: #b39ddb; // Secondary color 200
$secondary800: #6200ea; // Secondary color 800

// success colors
$successLight: #388e3c; // Light success color
$success200: #66bb6a; // Success color 200
$successMain: #4caf50; // Main success color
$successDark: #2e7d32; // Dark success color

// error colors
$errorLight: #e57373; // Light error color
$errorMain: #f44336; // Main error color
$errorDark: #c62828; // Dark error color

// orange
$orangeLight: #ffccbc; // Light orange
$orangeMain: #ff7043; // Main orange
$orangeDark: #f4511e; // Dark orange

// warning colors
$warningLight: #ffe082; // Light warning color
$warningMain: #ffc107; // Main warning color
$warningDark: #ff8f00; // Dark warning color

// grey
$grey50: #424242; // Dark grey 50
$grey100: #616161; // Dark grey 100
$grey200:rgba(227, 232, 239, 0.2) ; // Dark grey 200
$grey300: #9e9e9e; // Dark grey 300
$grey500: #e0e0e0; // Dark grey 500
$grey600: #ffffff; // Light grey
$grey700: #f5f5f5; // Light grey 700
$grey900: #e0e0e0; // Light grey 900


// ==============================|| LIGHT THEME VARIANTS ||============================== //

// ==============================|| DARK THEME VARIANTS ||============================== //

// paper & background
$darkBackground: #1a223f; // level 3
$darkPaper: #111936; // level 4

// dark 800 & 900
$darkLevel1: #29314f; // level 1
$darkLevel2: #212946; // level 2

// primary dark
$darkPrimaryLight: #eef2f6;
$darkPrimaryMain: #2196f3;
$darkPrimaryDark: #1e88e5;
$darkPrimary200: #90caf9;
$darkPrimary800: #1565c0;

// secondary dark
$darkSecondaryLight: #d1c4e9;
$darkSecondaryMain: #7c4dff;
$darkSecondaryDark: #651fff;
$darkSecondary200: #b39ddb;
$darkSecondary800: #6200ea;

// text variants
$darkTextTitle: rgb(18, 25, 38);
$darkTextPrimary:  #d7dcec;
$darkTextSecondary: #282b36;
// ==============================|| JAVASCRIPT ||============================== //

:export {
  // paper & background
  paper: $paper;
  background: $background;

  // primary
  primaryLight: $primaryLight;
  primary200: $primary200;
  primaryMain: $primaryMain;
  primaryDark: $primaryDark;
  primary800: $primary800;

  // secondary
  secondaryLight: $secondaryLight;
  secondary200: $secondary200;
  secondaryMain: $secondaryMain;
  secondaryDark: $secondaryDark;
  secondary800: $secondary800;

  // success
  successLight: $successLight;
  success200: $success200;
  successMain: $successMain;
  successDark: $successDark;

  // error
  errorLight: $errorLight;
  errorMain: $errorMain;
  errorDark: $errorDark;

  // orange
  orangeLight: $orangeLight;
  orangeMain: $orangeMain;
  orangeDark: $orangeDark;

  // warning
  warningLight: $warningLight;
  warningMain: $warningMain;
  warningDark: $warningDark;

  // grey
  grey50: $grey50;
  grey100: $grey100;
  grey200: $grey200;
  grey300: $grey300;
  grey500: $grey500;
  grey600: $grey600;
  grey700: $grey700;
  grey900: $grey900;

  // ==============================|| DARK THEME VARIANTS ||============================== //

  // paper & background
  darkPaper: $darkPaper;
  darkBackground: $darkBackground;

  // dark 800 & 900
  darkLevel1: $darkLevel1;
  darkLevel2: $darkLevel2;

  // text variants
  darkTextTitle: $darkTextTitle;
  darkTextPrimary: $darkTextPrimary;
  darkTextSecondary: $darkTextSecondary;

  // primary dark
  darkPrimaryLight: $darkPrimaryLight;
  darkPrimaryMain: $darkPrimaryMain;
  darkPrimaryDark: $darkPrimaryDark;
  darkPrimary200: $darkPrimary200;
  darkPrimary800: $darkPrimary800;

  // secondary dark
  darkSecondaryLight: $darkSecondaryLight;
  darkSecondaryMain: $darkSecondaryMain;
  darkSecondaryDark: $darkSecondaryDark;
  darkSecondary200: $darkSecondary200;
  darkSecondary800: $darkSecondary800;
  heading: $grey900;
  backgroundDefault: $paper;
  background: $primaryLight;
  textDark: $grey900;
  menuSelected: $secondaryDark;
  menuSelectedBack: $secondaryLight;
  divider: $grey200;

  darkTextPrimary2: $grey700;
  darkTextSecondary2: $grey500,
}
